<p id="notice"><%= notice %></p>

<h1>Ordrproducts</h1>

<table>
  <thead>
    <tr>
      <th>Quantity</th>
      <th>Product</th>
      <th>Ordr</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ordrproducts.each do |ordrproduct| %>
      <tr>
        <td><%= ordrproduct.quantity %></td>
        <td><%= ordrproduct.product_id %></td>
        <td><%= ordrproduct.ordr_id %></td>
        <td><%= link_to 'Show', ordrproduct %></td>
        <td><%= link_to 'Edit', edit_ordrproduct_path(ordrproduct) %></td>
        <td><%= link_to 'Destroy', ordrproduct, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ordrproduct', new_ordrproduct_path %>
