<p id="notice"><%= notice %></p>

<p>
  <strong>Quantity:</strong>
  <%= @ordrproduct.quantity %>
</p>

<p>
  <strong>Product:</strong>
  <%= @ordrproduct.product_id %>
</p>

<p>
  <strong>Ordr:</strong>
  <%= @ordrproduct.ordr_id %>
</p>

<%= link_to 'Edit', edit_ordrproduct_path(@ordrproduct) %> |
<%= link_to 'Back', ordrproducts_path %>
